@charset "utf-8";
/* CSS Document */
/*
* Author: Gq 
* Version: 1.0
* Last Changed by Gq
* Last Update : 2014-02-09
*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ol,ul,th,td,form,fieldset,legend,input,button,textarea{margin:0;padding:0;font:12px/1 \5FAE\8F6F\96C5\9ED1;}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
legend{display:none;}
a{text-decoration:none;outline:none;}
em{font-style:normal;}
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}

/* S top */
#top{position:relative;z-index:2;height:40px;line-height:40px;background-color:#FFF;box-shadow:0 1px 2px rgba(0,0,0,0.2);border-bottom:1px solid #E3E3E3\9;}
#top .t_box,#nav,.ad_banner{margin:0 auto;width:1000px;}
#top .old{color:#000;}
	.t_l_btn a{display:block;padding-left:5px;padding-right:22px;line-height:40px;cursor:pointer;}
	.t_l_btn a i{position:absolute;top:16px;right:5px;width:11px;height:10px;background:url(http://cdn.iciba.com/web/news/new_dailysen/images/t_link.png) no-repeat;overflow:hidden;}
	.t_l_btn a.cur{color:#FFF;background-color:#66BAD6;}
	.t_l_btn a.cur i{background-position:0 -10px;}
	.t_l_cont{top:40px;right:0;padding:10px;width:400px;border:2px solid #66BAD6;background-color:#FFF;display:none;}
	.t_l_cont dl{float:left;padding:0 10px;}
	.t_l_cont dl.last{*width:64px;}
	.t_l_cont dt{padding-bottom:4px;line-height:24px;font-size:14px;color:#66BAD6;}
	.t_l_cont dd a{display:block;line-height:22px;color:#656565;}
#top .t_login,#top .t_reg{padding-right:20px;line-height:40px;}
#top .t_login a,#top .t_reg a{color:#000;vertical-align:middle;}
#top .t_login img{margin-right:5px;display:inline-block;width:26px;height:26px;vertical-align:middle;border-radius:13px;}
#nav{padding:12px 0;background-color:#FFF;}
#nav ul{height:30px;}
#nav li{float:left;padding:0 12px;font-size:14px;font-weight:bold;}
#nav li a{position:relative;display:block;line-height:28px;color:#000;border-bottom:2px solid #FFF;}
#nav li a:hover,#nav li a.cur{border-bottom-color:#67BAD6;}
.ad_banner{height:60px;}
.ad_banner img{display:block;width:1000px;height:60px;}
/* E top */
/* S footer */
#footer .f_box{margin:0 auto;padding-top:45px;padding-bottom:30px;width:1000px;text-align:center;}
#footer .f_box a:hover{text-decoration:underline;}
#footer .f_menu{line-height:22px;color:#969696;}
#footer .f_menu a{padding-left:6px;padding-right:8px;color:#969696;}
#footer .f_menu a.collect{cursor:default;}
#footer .f_info{height:22px;line-height:22px;color:#969696;}
#footer .f_info a{color:#969696;}
/* E footer */